@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Pet</title>
    <!-- Link Bootstrap CSS (CDN) -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
     <link rel="stylesheet" href="/css/styles.css" />

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- Link your own stylesheet if desired -->
    <link rel="stylesheet" href="/css/stelesFound.css">
</head>
<body>

    <div>
        <!-- Navigation Bar using Bootstrap -->
        <nav class="navbar navbar-expand-lg bg-dark">
            <a class="navbar-brand text-white" asp-controller="Home" asp-action="Index">From Lost to Loved</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse " id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="btn btn-outline-light btn-floating m-1 border-0" asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="btn btn-outline-light btn-floating m-1 border-0" asp-controller="Home" asp-action="stats">Analytics</a>
                    </li>
                    <li class="nav-item">
                        <a class="btn btn-outline-light btn-floating m-1 border-0" asp-controller="Home" asp-action="Found">Report a Pet</a>
                    </li>
                    <li class="nav-item">
                        <a class="btn btn-outline-light btn-floating m-1 border-0" asp-controller="Home" asp-action="Lost">Pet Search</a>
                    </li>
                    <li class="nav-item">
                        <a class="btn btn-outline-light btn-floating m-1 border-0" asp-controller="Home" asp-action="About">About Us</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>


    <!-- Full-page Background with Bootstrap Container -->
    <div class="container text-center mt-5">
        <h1>Feel free to browse the pet listings below.</h1>
        <p class="lead">If you find your pet, please note down the ID and contact us immediately..</p>
    </div>

    <!-- Table of Pets with Bootstrap Table Styles (customize with your data) -->
    <div class="container mt-5">
        <div class="table-responsive">
            <div style="max-height: 400px; overflow: auto;">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Animal ID</th>
                            <th>Record Type</th>
                            <th>Location</th>
                            <th>Name</th>
                            <th>Animal Type</th>
                            <th>Age</th>
                            <th>Animal Color</th>
                            <th>Date</th>
                            <th>Date Type</th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>A697762</td>
                            <td>LOST</td>
                            <td>LOST</td>
                            <td>Lulu</td>
                            <td>Dog</td>
                            <td>Over 1 year</td>
                            <td>White</td>
                            <td>Oct 25, 2023</td>
                            <td>Date Lost</td>

                        </tr>
                        <tr>
                            <td>A697908</td>
                            <td>ADOPTABLE</td>
                            <td>King County Pet Adoption Center 21615 64TH AVE S KENT, WA 98032</td>
                            <td>Goose</td>
                            <td>Dog</td>
                            <td>1 YEAR 6 MONTHS</td>
                            <td>Tan / White</td>
                            <td>Oct 29, 2023</td>
                            <td>Received on</td>

                        </tr>
                        <tr>
                            <td>A697005</td>
                            <td>FOUND</td>
                            <td>N/A</td>
                            <td>Luna</td>
                            <td>Dead Dog</td>
                            <td>1 YEAR 2 MONTHS</td>
                            <td>Black / Tan</td>
                            <td>Oct 15, 2023</td>
                            <td>Received on</td>

                        </tr>
                        <tr>
                            <td>A688569</td>
                            <td>ADOPTABLE</td>
                            <td>Reber Ranch 28606 132ND AVE SE KENT, WA 98042</td>
                            <td>Espresso</td>
                            <td>Rabbit</td>
                            <td>4 MONTHS</td>
                            <td>Brown</td>
                            <td>Oct 18, 2023</td>
                            <td>Received on</td>

                        </tr>
                        <tr>
                            <td>A698259</td>
                            <td>FOUND</td>
                            <td>N/A</td>
                            <td>N/A</td>
                            <td>Dead Cat</td>
                            <td>13 WEEKS</td>
                            <td>Gray Tabby / White</td>
                            <td>Nov 04, 2023</td>
                            <td>Received on</td>

                        </tr>
                        <tr>
                            <td>A692821</td>
                            <td>ADOPTABLE</td>
                            <td>In RASKC Foster Home</td>
                            <td>Auggie</td>
                            <td>Rabbit</td>
                            <td>7 Months</td>
                            <td>Gray / White</td>
                            <td>Aug 20, 2023</td>
                            <td>Received on</td>

                        </tr>
                        <tr>
                            <td>A697173</td>
                            <td>LOST</td>
                            <td>LOST</td>
                            <td>Leo</td>
                            <td>Cat</td>
                            <td>Over 1 Year</td>
                            <td>Unknown</td>
                            <td>Oct 10, 2023</td>
                            <td>Date Lost</td>

                        </tr>
                        <tr>
                            <td>A698045</td>
                            <td>FOUND</td>
                            <td>In Public Home</td>
                            <td>Irene Aroner</td>
                            <td>Dog</td>
                            <td>Unknown</td>
                            <td>White</td>
                            <td>Oct 31, 2023</td>
                            <td>Date Found</td>

                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="container mt-5">
        <div class="form-group lead">
            <label for="searchAnimal">Search Animal by Name:</label>
            <input type="text" class="form-control lead" id="searchAnimal" oninput="searchTable()" placeholder="Enter animal name">
        </div>
    </div>
    <div>
        <footer class="bg-dark text-center text-white">
            <!-- Grid container -->
            <div class="p-4 pb-0">
                <!-- Section: Social media -->
                <section class="mb-4">
                    <!-- Facebook -->
                    <a class="btn btn-outline-light btn-floating m-1" href="https://www.facebook.com/USFMuma" role="button" target="_blank">
                        <i class="fab fa-facebook-f"></i>
                    </a>

                    <!-- Twitter -->
                    <a class="btn btn-outline-light btn-floating m-1" href="https://twitter.com/USFMuma" role="button" target="_blank">
                        <i class="fab fa-twitter"></i>
                    </a>

                    <!-- Google -->
                    <a class="btn btn-outline-light btn-floating m-1" href="https://mail.google.com/" role="button" target="_blank">
                        <i class="fab fa-google"></i>
                    </a>
                    <!-- Linkedin -->
                    <a class="btn btn-outline-light btn-floating m-1" href="https://www.linkedin.com/" role="button" target="_blank">
                        <i class="fab fa-linkedin-in"></i>
                    </a>
                    <a class="btn btn-outline-light btn-floating m-1" href="https://www.instagram.com/usfmuma/" role="button" target="_blank">
                        <i class="fab fa-instagram"></i>
                    </a>
                    <!-- Github -->
                    <a class="btn btn-outline-light btn-floating m-1" href="https://github.com/surya97036/DIS_WebLookAndFeel" target="_blank" role="button">

                        <i class="fab fa-github"></i>
                    </a>
                </section>

                <!-- Section: Social media -->
                <p>
                    Adopting pets is crucial as it provides loving homes for animals in need, reduces overpopulation, and saves lives.
                    It fosters companionship, promotes responsible pet ownership, and contributes to a compassionate society where animals are valued members of families.
                </p>
            </div>
            <!-- Grid container -->
            <!-- Copyright -->
            <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
                © 2023 Copyright:
                <a class="text-white" href="about.html">Contact Us</a>
            </div>
            </footer>
    </div>
    <!-- Footer Section with Bootstrap Styles -->
    <!-- Include Bootstrap JavaScript and jQuery (CDN) -->
    <script src="/js/lostScript.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>

    <!-- Include your own JavaScript and additional libraries as necessary -->

</body>
</html>
